<div class="container">
    <div class="row">
        <div class="col-md-12">

           
            <% if (!current_user.present?) %>
                <h2><%= link_to 'Register as a new user', new_user_path %>....<br><br> to enjoy all the features of this site</h2>
              
            <%else%>
                <h1>Users currently using eBay</h1>
                <p>Click on the image to check out all the details</p>
                    <% @users.each do |user| %>
                        <% if (current_user.id != user.id) %>
                            <ul>
                                <li> 
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="<%= user_path(user) %>">
                                                <img class="media-object" src="<%= user.logo.url(:thumb)%>" alt="User logo">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><%= user.name %></h4>
                                            <%= user.email %>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        <% end %>
                    <% end %>
            <% end %>
        </div>
    </div>
</div>
